
/* COLORS -------------------------------------------------------------- */

:root {
 --night: #353c42;
 --midnight: #222d32;
 --midnight-dark: #2c3b41;

 --sea-light: #06c6ca;
 --sea: #009da0;
 --sea-med: #007d80;
 --sea-dark: #006669;

 --tree: #77b131;
 --tree-dark: #508016;

 --danger-light: #ff7766;
 --danger: #dd4b39;
 --danger-dark: #cc1b34;

 --gold-light: #ffb300;
 --gold: #ffa700;
 --gold-dark: #ea8500;
 
 --grey-000: #f4f4f4;
 --grey-100: #e6e6e6;
 --grey-200: #cecece;
 --grey-300: #b0b0b0;

 --grey-500: #808080;
 --grey-600: #666666;
 --grey-700: #4d4d4d;
 --grey-800: #333333;

 --white: #fff;
 --black: #000;

 --sans: 'Plus Jakarta Sans', sans-serif;
 --monosans: 'Roboto Condensed', Consola, monospace, sans-serif;
 --monosans: 'Roboto Condensed', Consola, monospace, sans-serif;
 --mono: 'Fira Mono', Consola, monospace, sans-serif;
}

.cl-mdn { color: var(--midnight) !important; }
.cl-sea { color: var(--sea) !important; }
.cl-sea-l { color: var(--sea-light) !important; }
.cl-sea-d { color: var(--sea-dark) !important; }

.cl-grn { color: var(--tree) !important; }
.cl-grn-d { color: var(--tree-dark) !important; }
.cl-dgr { color: var(--danger) !important; }
.cl-dgr-l { color: var(--danger-light) !important; }
.cl-dgr-d { color: var(--danger-dark) !important; }

.cl-blk { color: #000 !important; }
.cl-wht { color: #fff !important; }
.cl-grey { color: var(--grey-300) !important; }


/* GENERAL ------------------------------------------------------------- */

body {
  font-family: var(--sans);
  font-size: 14px;
  color: #222d32;
}

.content-wrapper, .right-side {
  background-color: var(--grey-000);
}

.shiny-split-layout > div {
  overflow: visible;
  padding: 2px;
}

.shiny-output-error {
  visibility: hidden;
}
.shiny-output-error:before {
  visibility: hidden;
}


.skin-black .main-header .logo {
  background-color: #fff;
}
.skin-black .main-header .logo:hover {
  background-color: #fff;
}

.control-sidebar-bg, .control-sidebar {
  height: fit-content !important;
}

.row {
  max-width: 1920px;
}

.no-padding,
.no-padding-left,
.no-padding-right {
  padding-left: 0px;
  padding-right: 0px;
}
@media (min-width: 1200px) {
  .no-padding-left {
    padding-left: 0px;
    padding-right: 15px;
  }
  .no-padding-right {
    padding-left: 15px;
    padding-right: 0px;
  }
}

.col-report-left, .col-report-right {
    display: block;
    float: left;
    width: 100%;
}
@media (min-width: 1200px) {
  .col-report-left {
    display: block;
    float: left;
    width: 50%;
  }
  .col-report-right {
    display: block;
    float: left;
    width: 50%;
  }
}

.fluid-padding {
  padding-top: 0px;
}
@media (min-width: 1200px) {
  .fluid-padding {
    padding-top: 40px;
  }
}

.no-bottom {
  margin-bottom: 0px;
}

.text_binom pre.shiny-text-output {
  font-family: var(--monosans);
  font-style: italic;
  font-size: 15px;
  letter-spacing: .5px;
  color: var(--grey-600);
  margin: -10px 0 9px 0;
  line-height: .8;
}

/* SIDEBAR ------------------------------------------------------------- */

.sidebar a {
  font-family: var(--sans);
}
.main-sidebar {
  border-right: 1px solid var(--grey-100);
}

.skin-black .sidebar a {
  color: var(--midnight);
  font-size: 15px;
}
.skin-black .sidebar-menu > li > .treeview-menu {
  margin: 0 0 0 0;
  background: var(--grey-000);
}
.skin-black .sidebar-menu .treeview-menu > li > a {
  color: var(--sea-med);
}
.treeview-menu > li > a > .fa,
.treeview-menu > li > a > .glyphicon, .treeview-menu > li > a > .icon {
    margin-left: 6px;
}

.skin-black .sidebar-menu .treeview-menu > li > a:hover,
.skin-black .sidebar-menu .treeview-menu > li:hover > a {
  color: #fff;
  background-color: var(--sea-med);
}

.skin-black .sidebar-menu .treeview-menu > li.active > a {
  color: #fff;
  background: var(--sea-med);
}

.skin-black .main-sidebar,
.skin-black .wrapper {
  background-color: #fff;
  font-family: var(--sans);
}

.skin-black .sidebar-menu > li.active > a,
.skin-black .sidebar-menu > li.menu-open > a,
.skin-black .sidebar-menu > li:hover > a {
  color: #fff;
  background: var(--sea);
}
.skin-black .sidebar-menu > li > a {
  border-left: 0;
}

.treeview-menu {
  padding-left: 10px;
}
.treeview-menu > li > a {
  font-size: 15px;
  margin: 0 0px 0px -11px;
}
.navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
  border: 1px solid var(--grey-000) !important;
}

/* TEXT ---------------------------------------------------------------- */

p {
  font-family: var(--sans);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.3px;
  text-align: justify;
  color: var(--grey-800);

  display: block;
}

h1 {
  font-family: var(--sans);
  color: var(--midnight);
  font-size: 24px;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
}

h2 {
  font-family: var(--sans);
  color: var(--midnight);
  font-size: 23px;
  text-align: center;

  margin-top: 0px;
  margin-bottom: 0px;
}

h3 {
  font-family: var(--sans);
  color: var(--midnight);
  font-size: 18px;
}

h4 {
  font-family: var(--monosans);
}

h5 {
  font-family: var(--sans);
  text-align: left;
  font-size: 18px;
  color: var(--sea-dark);
}

a {
  font-weight: 100;
  color: var(--sea);
}

.help-block {
  font-family: var(--monosans);
  letter-spacing: 0.5px;
  text-align: justify;
  
  color: #717171;
  padding: 11px 17px;
  margin-bottom: 10px;
  border: 1.5px dashed #717171;
  border-radius: 5px;

}
.help-block-note {
  font-family: var(--monosans);
  letter-spacing: 0.5px;
  text-align: justify;
  color: var(--danger) !important;
}

label,
.txt-label {
  font-family: var(--monosans);
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.5px;
  text-align: left;
  color: #000;
  margin-bottom: 5px;
}

.label_center {
  font-family: var(--monosans);
  font-size: 17px;
  color: var(--midnight);
  text-align: center;
  line-height: 1.1;
}

.label_split {
  font-family: var(--monosans);
  font-size: 14px;
  color: var(--midnight);
  letter-spacing: 0.5px;
  text-align: left;

  margin: 0 0 5px -7px;
  overflow: hidden;
}

.label_intext {
  font-family: var(--monosans);
  font-size: 16px;
  color: #000;
  text-align: right;
  letter-spacing: 0.5px;
}


.label-success {
  background-color: var(--sea) !important;
}

pre {
  margin-bottom: 0px;
}

pre.shiny-text-output {
  white-space: pre-wrap;
  word-break: keep-all;
  font-family: var(--mono);
  font-size: 12px;
  text-align: right;
}


sup { font-size: 60%; }
sub { font-size: 90%; }

.ttl-tab {
  font-family: var(--sans);
  font-size: 22px;
  color: var(--sea-dark);
  letter-spacing: 0.3px;

  margin-left: -4px;
  padding-top: 14px;
}
.ttl-panel {
  font-family: var(--monosans);
  font-size: 16px;
  color: var(--sea);
}

.ttl-box {
  font-family: var(--monosans);
  font-size: 18px;
  color: var(--sea-dark);
  text-align: eight;
}
.ttl-box_solid {
  font-family: var(--monosans);
  font-size: 18px;
  color: #fff;
  text-align: right;
}

.subheader {
  /* font-family: var(--sans);
  font-size: 17px;
  color: var(--midnight);
  text-align: center;
  line-height: 1.1; */
  font-family: var(--monosans);
  font-size: 18px;
  color: #000;
  text-align: center;
  letter-spacing: 0.5px;
}

/* INPUTS & BUTTONS --------------------------------------------------- */

.btn-default {
  color: var(--grey-700);
  background-color: var(--grey-100);
}

/*
.btn-default.active,
.btn-default:active, .open > 
.dropdown-toggle.btn-default {
    background-color: #d0d0d0;
} */

.btn {
  font-family: var(--monosans);
  font-size: 15px;
  letter-spacing: 0.5px;
  /* text-align: right; */

  border-radius: 0;
  border: none;
  outline: none;
  padding: 6px 9px;
}
.btn:hover {
  background-color: var(--midnight);
  color: #fff;
  border-radius: 0;
}
.btn:active,
.btn:active:focus {
  background-color: var(--midnight);
  color: var(--sea);
  border-radius: 0;
}

.btn-primary {
  color: #fff;
  background-color: var(--midnight);
}
.btn-primary:hover {
  color: #fff;
  background-color: var(--sea);
}
.btn-primary:focus {
  color: var(--grey-700);
  background-color: var(--grey-000);
}
.btn-primary:active, .btn-primary:active:focus {
  color: var(--sea);
  background-color: var(--midnight);
}

.btn-info {
  color: #fff;
  background-color: var(--sea);
}
.btn-info:hover {
  color: #fff;
  background-color: var(--sea-med);
}
.btn-info:focus {
  color: var(--grey-700);
  background-color: var(--sea);
}
.btn-info:active, .btn-info:active:focus {
  color: var(--sea);
  background-color: var(--midnight);
}

.btn-warning {
  color: var(--midnight);
  background-color: #f1f1f1;
}
.btn-warning:hover {
  color: #fff;
  background-color: var(--gold);
}
.btn-warning:focus {
  color: var(--grey-700);
  background-color: var(--gold);
}
.btn-warning:active, .btn-warning:active:focus {
  color: var(--gold);
  background-color: var(--midnight);
}

.btn-danger {
  color: var(--danger);
  background-color: #ffeeec;
}
.btn-danger:hover {
  color: #fff;
  background-color: var(--danger);
}
.btn-danger:focus {
  color: var(--grey-700);
  background-color: var(--danger);
}
.btn-danger:active, .btn-danger:active:focus {
  color: var(--danger);
  background-color: var(--midnight);
}


.btn-success {
  color: var(--grey-700);
  background-color: #343332;
}

.btn-box-tool {
  padding: 5px;
  font-size: 12px;
  background: 0;
  color: #97a0b3;
  margin-top: -5px;
}

.btn-group .btn-group+.btn-group {
    margin-left: 5px;
}

.caution-button,
.caution-button:focus {
  background-color: #e3362d;
}

.caution-button:hover {
  background-color: #c13028;
}

.caution-button:active,
.caution-button:active:focus {
  background-color: var(--midnight);
  color: var(--gold-light);
  border-radius: 0;
  outline: none;
}


.dropdown-menu {
  border-color: var(--grey-200) !important;
}
.dropdown-menu > li > a:hover {
	background-color: var(--sea);
  color: #fff;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover {
  color: #fff;
  text-decoration: none;
  background-color: var(--sea);
  outline: 0;
}

.dropdown-toggle {
  text-align: center;
}


.selectize-input {
  font-family: var(--monosans);
  font-size: 15px;
  letter-spacing: 0.5px;
  color: var(--grey-700);
  outline: none;
  border: 0;
  border-radius: 0;
  background-color: var(--grey-000) !important;
}
.selectize-input > input {
  letter-spacing: 0.5px !important;
}
.selectize-input.focus {
  border: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.selectize-control {
  margin-bottom: 0px;
  margin-right: 5px;
}

.selectize-control.single .selectize-input:after {
    right: 11px;
    border-width: 4px 4px 0 4px;
}

.selectize-control.multi .selectize-input > div {
  background: var(--sea);
  color: #fff;
}
.selectize-control.multi .selectize-input > div.active {
  background: var(--sea);
  color: #fff;
}

.selectize-dropdown {
  font-family: var(--monosans);
  font-size: 15px;
  letter-spacing: 0.5px;
  border-radius: 0;
  outline: none;
  background-color: var(--grey-000);
  color: var(--grey-700);
  border: 1px solid #e8e8e8;
}

.selectize-dropdown .active {
  background-color: var(--midnight);
  color: #fff;
}

.form-group {
  margin-bottom: 0;
  /* text-align: center; */
}

.form-control {
  font-family: var(--monosans);
  font-size: 15px;
  letter-spacing: 0.5px;
  color: var(--grey-700);
  border-color: var(--grey-000);
}

.form-control:focus {
  border-color: var(--midnight);
}

/* shinyWidgets::prettyToggle() */

.pretty input:checked,
.pretty .state label:before {
    border-color: #bdc3c7;
    margin-top: 3px;
}

.pretty.p-default input:checked ~ .state label::after,
.pretty.p-default:not(.p-fill) input:checked ~ 
.state.p-primary-o label::after {
  background-color: var(--sea) !important;
  margin-top: 3px;
}

.pretty input:checked ~ .state.p-success label:after, 
.pretty.p-toggle .state.p-success label:after {
    background-color: var(--sea) !important;
    margin-top: 3px;
}
.pretty.p-toggle .state.p-danger label::after {
  background-color: var(--danger) !important;
  margin-top: 3px;
}

.pretty .p-switch. p-fill input:checked ~ .state.p-primary::before {
  background-color: #116367 !important;
}
.pretty .p-switch input:checked ~ .state.p-primary::before {
  border-color: #116367 !important;
}
.pretty .p-switch .p-fill input:checked ~ .state label:after {
  background-color: var(--sea) !important;
}

.checkbox-primary input[type="checkbox"]:checked+label::after {
  background-color: var(--sea);
  border-color: var(--sea);
}

.irs--shiny .irs {
  color: var(--grey-300);
}
.irs--shiny .irs-min, .irs--shiny .irs-max {
  font-family: var(--monosans);
  font-size: 12px;
  letter-spacing: 0.5px;
}

.irs--shiny .irs-handle {
  top: 19px;
  height: 18px;
  width: 18px;
}
shiny .irs-handle:hover {
  background: var(--sea-med);
  border: 1px solid var(--sea-med);
}

.irs--shiny .irs-to,
.irs--shiny .irs-single,
.irs--shiny .irs-from {
  font-family: var(--monosans) !important;
  font-size: 12px;
  letter-spacing: 0.5px;
  background-color: var(--sea);
}

.irs--shiny .irs-line {
  border-radius: 0;
  background-color: var(--grey-000);
  border: 0;
  margin: 0 1px;
}

.irs--shiny .irs-bar {
  background: var(--sea);
  border-top: 1px solid var(--sea);
  border-bottom: 1px solid var(--sea);
}

.irs--shiny .irs-grid-pol {
  background-color: #cfcfcf;
}

.irs--shiny .irs-grid-text {
  font-family: var(--monosans);
  font-size: 12px;
  letter-spacing: 0.5px;
}


.timelineinput .irs-from,
.timelineinput .irs-to,
.timelineinput .irs-min,
.timelineinput .irs-max,
.timelineinput .irs-single {
  visibility: hidden !important;
}
.timelineinput .irs-line {
  margin: -40px 1px 5px 0px;
}


.decayinput .irs-min,
.decayinput .irs-max {
  visibility: hidden !important;
}
.decayinput .irs-from,
.decayinput .irs-to,
.decayinput .irs-single {
  visibility: hidden !important;
}

.new_irs {
  display: block;
  width: 250px;

  font-family: var(--monosans);
  letter-spacing: 0.5px;
  font-size: 10px;
  line-height: 1.333;

  background-color: var(--sea);
  color: #fff;

  padding: 1px 3px;
  border-radius: 3px;
}

/*
.dropup .dropdown-menu {
  max-height: 185px !important;
}

.open > .dropdown-menu {
  max-height: 185px !important;
} */

/* BOXES --------------------------------------------------------------- */

.box-header {
  padding-top: 18px;
}

.box-header.with-border {
  padding-top: 8px;
  padding-bottom: 6px;
}

.box-header > .box-tools {
  margin-top: 5px !important;
}

.box.box-solid {
  border-radius: 0;
  border-bottom-color: var(--grey-000) !important;
  border-left-color: var(--grey-000) !important;
  border-right-color: var(--grey-000) !important;
  border-top-color: var(--grey-000) !important;
}

.box-box {
  border-radius: 0;
  border-bottom-color: var(--grey-000);
  border-left-color: var(--grey-000);
  border-right-color: var(--grey-000);
  border-top-color: var(--grey-000);
}

.box.box-solid.box-primary > .box-header {
  color: #fff;
  background-color: var(--sea-dark);
}

.box.box-solid.box-success > .box-header {
  color: var(--grey-700);
  background-color: var(--grey-000);
}
.box.box-solid.box-success > .box-header .btn {
  color: var(--grey-700);
}

.box.box-solid.box-danger > .box-header {
  color: #fff;
  background-color: var(--danger);
}

.box.box-solid.box-info > .box-header {
  color: #fff;
  background-color: var(--sea);
}
.box.box-info {
  border-top-color: var(--sea);
}

.box-footer {
  background-color: #fafafa;
}

.box-body .shiny-input-container {
  width: auto;
  margin-bottom: 5px;
}

.btn-box-tool {
font-size: 12px;
}
.btn-box-tool:focus {
  font-size: 12px;
  background: none;
  background-color: none;
}

.bg-aqua {
  background-color: var(--sea) !important;
}

.small-box {
  margin-bottom: 5px;
  padding-right: 15px;
}
.small-box .icon-large {
  position: absolute;
  top: -3px;
  right: 20px;
  font-size: 67px;
  color: rgb(255, 255, 255);
}
.small-box p {
  color: #fff;
  margin-left: 10px;
  margin-bottom: 2px;
}
.small-box h3 {
  font-size: 38px;
  font-weight: 500;
  margin: 0 0 0px 10px;
  white-space: nowrap;
  padding: 0;
}

#about_misc .box-header,
#about_tour .box-header,
#about_workflow .box-header,
#about_settings .box-header {
  display: none
}

#tab_sims_1-simBox_submit  .box-header,
#tab_sims_1-simBox_repeat  .box-header,
#tab_design_1-devBox_type  .box-header,
#tab_design_1-devBox_loss  .box-header,
#tab_design_1-devBox_error .box-header {
  display: none
}

/* shinydashboard::tabBox */

.tabBox_noheaders .box-header {
  display: none
}
.tabBox_noheaders .box-body {
  padding: 0px; /* 5px */
}
.tabBox_noheaders .nav-tabs-custom {
  margin-bottom: 0px;
}

.tabBox_main .nav-tabs-custom > .nav-tabs > li.active > a,
.tabBox_main .nav-tabs-custom > .nav-tabs > li.active:hover > a {
  color: var(--midnight);
}
.tabBox_main .nav-tabs-custom > .nav-tabs > li.active {
  border-top-color: var(--midnight);
}

/* BLOCKS -------------------------------------------------------------- */

.sampleblock {
  font-family: var(--monosans);
  display: block;
  margin: 10px 0;
  text-align: center;
  line-height: 1;
}
.sampleblock > .sampleblock-text {
  font-size: 14px;
  line-height: 16px;
  font-weight: 100;
  letter-spacing: 0.5px;
  text-transform: none;
}
.sampleblock > .sampleblock-header {
  font-size: 30px;
  line-height: 29px;
  font-weight: 100;
  letter-spacing: 1px;
}
.sampleblock > .sampleblock-percentage {
  font-size: 15px;
  font-weight: 100;
  letter-spacing: 1px;
}

.parblock {
  display: block;
  font-family: var(--monosans);
  margin: 10px 0;
  text-align: center;
  line-height: 1;
}
.parblock > .parblock-icon {
  display: block;
  color: var(--grey-800);
  font-size: 25px;
  padding-bottom: 4px;
}
.parblock > .parblock-header {
  color: var(--midnight);
  font-size: 14px;
  font-weight: 100;
  letter-spacing: 0.5px;
  text-transform: none;
}
.parblock > .parblock-value {
  color: var(--midnight);
  font-size: 26px;
  line-height: 26px;
  font-weight: 100;
  letter-spacing: 1px;
}
.parblock > .parblock-subtitle {
  var(--midnight);
  font-size: 14px;
  line-height: 16px;
  font-weight: 100;
  letter-spacing: 1px;
}

.errorblock {
  font-family: var(--monosans);
  display: block;
  margin: 10px 0;
  text-align: center;
  line-height: 1;
  /*
  background-color: #eaeaea;
  padding: 5px 0 5px 0;
  border-radius: 11px;
  */
}
.errorblock > .errorblock-icon {
  color: var(--grey-800);
  font-size: 25px;
}
.errorblock > .errorblock-text {
  color: var(--midnight);
  font-size: 14px;
  font-weight: 100;
  letter-spacing: 0.5px;
  text-transform: none;
}
.errorblock > .errorblock-header {
  color: var(--midnight);
  font-size: 14px;
  line-height: 16px;
  font-weight: 100;
  letter-spacing: 1px;
  
}
.errorblock > .errorblock-value {
  font-size: 26px;
  line-height: 26px;
  font-weight: 100;
  letter-spacing: 1px;
}

.widget-user-2 .widget-user-header {
  padding: 20px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
.widget-user-2 .widget-user-image > img {
  border: 3px solid;
  border-color: #005354;
}
.widget-user-2 .widget-user-username {
  color: var(--sea);
  font-family: var(--monosans);
  font-weight: 500;
  font-size: 28px;
}
.widget-user-2 .widget-user-desc,
.widget-user-2 .widget-user-username {
  margin-left: 75px;
  font-family: var(--monosans);
}

/* STATIC BLOCKS & BUTTONS --------------------------------------------- */

.staticblock {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 5px;
  margin-top: 5px;

  text-align: left;
  background-color: var(--grey-100);
  color: #333;

}
.staticblock > .staticblock-text {
  font-family: var(--monosans);
  font-size: 15px;
  letter-spacing: 0.5px;
  color: #333;
}
.staticblock > .staticblock-icon {
  color: var(--danger);
  height: 15px;
  margin-right: 5px;
}

.staticblock_active {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 5px;
  margin-top: 5px;

  text-align: left;
  background-color: var(--midnight);
  color: #fff;
}
.staticblock_active > .staticblock-text {
  font-family: var(--monosans);
  font-size: 15px;
  letter-spacing: 0.5px;
  color: #fff;
}
.staticblock_active > .staticblock-icon {
  color: var(--sea);
  height: 15px;
  margin-right: 5px;
}

/*
.block-report {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;

  background-color: var(--grey-100);
  border: none;
  border-radius: 0;
  outline: 0;
  padding: 5px;

  font-family: var(--monosans);
  font-size: 15px;
  letter-spacing: 0.5px;
  color: #333;
} */

/* MODALS -------------------------------------------------------------- */

.modal {
  z-index: 9999999999999999999999 !important;
}
.modal-open {
  padding-right: 0px !important;
}
.modal-content {
  border-radius: 8px;
  font-size: 18px;
}

.modal-lg {
  width: 730px;
}
.modal-header {
  border-bottom: 1px solid var(--midnight);
}
.modal-title {
  font-size: 19px;
  font-weight: 400;
}
.modal-header {
  border-bottom: 1px solid var(--grey-000);
}
.bg-light-blue, .modal-primary .modal-body {
  background-color: var(--midnight-dark) !important;
}

/* MESSAGES & NOTIFICATIONS -------------------------------------------- */

.toast-title {
  font-size: 16px;
}

.toast-message {
  font-size: 14px;
}

.toast-success {
  background-color: var(--sea);
}

#toast-container > div {
  opacity: 1; /* 0.8 */
}

/* PROGRESS BAR -------------------------------------------------------- */

.shiny-notification {
  font-size: 15px;
  color: #fff;
  /* position: fixed;
  top: calc(50%);
  left: calc(25%); */
  opacity: 1;
  border: 0;
  border-radius: 0;
  background: var(--midnight-dark);
  padding: 16px 22px;
}

.shiny-notification-warning {
  color: #000;
  text-align: center;
  background-color: var(--gold);
  border: 0;
}

.shiny-notification-error {
    color: #fff;
    background-color: var(--danger);
}

.shiny-notification-close {
  display: none;
}

.progress-bar {
  background-color: var(--sea);
}
.progress-bar-danger, .progress-bar-red {
  background-color: var(--danger);
}
.progress-bar-warning, .progress-bar-yellow {
  background-color: var(--gold);
}

.progress, .progress> .progress-bar {
  max-width: 480px;
}

.shiny-progress-notification .progress-text .progress-message {
  font-weight: none;
  font-size: 16px;
}
.shiny-progress-notification .progress-text .progress-detail {
  font-size: 15px;
}

.progress-number {
  position: relative !important;
  right: 0px !important;
}

/* HORIZONTAL BAR ------------------------------------------------------ */

.hr-separator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  margin: 15px 0;
  width: 100%;
  display: none;
}

.hr-separator .hr-line {
  background-color: var(--midnight);
  height: 1.5px;
  width: 100%;
}

.hr-separator img {
  height: 50px;
  padding: 0 10px;
}

/* TABSET -------------------------------------------------------------- */

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover {
  color: var(--sea);
  font-weight: 700;
}

.nav-pills > li.active > a:focus {
  color: var(--grey-700);
  background-color: #f7f7f7;
}
.nav-pills > li > a.active {
  background-color: var(--grey-000) !important;
}

.nav-stacked > li.active > a,
.nav-stacked > li.active > a:hover {
  color: var(--grey-700);
  background-color: #f7f7f7;
  border-left: 3px solid var(--sea);
}

.nav-tabs {
  font-family: var(--monosans);
  font-size: 16px;
}
.nav-tabs-custom > .nav-tabs > li.header {
  color: var(--sea-dark);
  line-height: 44px;
  background-color: #fff;
}

.nav-tabs-custom > .nav-tabs > li.active {
  border-top-color: var(--sea);
}
.nav-tabs-custom > .nav-tabs > li.active > a,
.nav-tabs-custom > .nav-tabs > li.active:hover > a {
  color: var(--sea);
}

.nav-tabs-custom > .nav-tabs > li > a {
  color: var(--sea-dark);
}
.nav-tabs-custom > .nav-tabs > li > a:hover {
  color: var(--sea);
}

/* MAPS, PLOTS & TABLES ------------------------------------------------ */

.girafe,
.girafe_container_std {
 margin-left:auto;
 margin-right:auto;
 max-width: 640px;
}

.plotly-notifier {
  font-family: var(--monosans);
  color: #fff !important;
}

.plotly-notifier .notifier-note {
  background-color: var(--midnight) !important;
  color: #fff !important;
  border: 1px var(--midnight) solid !important;
}

.Reactable {
  font-family: var(--monosans);
  font-size: 15px;
}

.rt-table {
  line-height: 1;
  color: var(--grey-800);
}

.rtable_header {
  font-family: var(--monosans);
  font-size: 14px;
  font-weight: 100;
  letter-spacing: 0.5px;
  color: var(--grey-600) !important;
  border-bottom: 1px solid var(--grey-000) !important;
}
.header:hover {
  background-color: var(--grey-000);
}

.rt-search {
  background-color: var(--grey-000);
  border: 0;
  outline-width: 0;
  letter-spacing: 0.5px;
}
.rt-search:active, .rt-search:focus {
  color: #fff;
  background-color: var(--midnight);
  border: 0;
}


div.datatables,
table.dataTable {
  font-family: var(--monosans);
}
table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled {
  font-weight: 100;
  font-size: 16px;
}
table.dataTable thead th, table.dataTable thead td {
  padding: 10px 18px;
  border-bottom: 1px solid var(--grey-000) !important;
}
table.dataTable.no-footer {
  border-bottom: 1px solid var(--grey-000) !important;
}
table.dataTable.display tbody td {
  border-top: 1px solid var(--grey-000) !important;
}
.table.dataTable tbody td.active,
.table.dataTable tbody tr.active td {
    background-color: var(--grey-100) !important;
    color: black !important;
}

#tab_data_select_1-dataTable_processes .rt-table {
  line-height: 1;
  color: var(--grey-300);
  font-size: 15px;
}

#tab_data_select_1-dataTable_processes .rt-tr-selected {
  background-color: var(--grey-100);
  color: var(--grey-800);
}


/* ALERT --------------------------------------------------------------- */

.sweet-alert {
  z-index: 9999999999;
  border: 2px solid #dfdfdf;
}

.sweet-alert button {
  font-family: var(--monosans) !important;
  font-size: 14px !important;
  line-height: 20px !important;
  letter-spacing: 0.5px !important;
  color: var(--grey-700) !important;

  border: none !important;
  border-radius: 0 !important;
  background: var(--grey-000) !important;

  padding-top: 2px !important;
  padding-bottom: 2px !important;
  float: right !important;
}

.sweet-alert h2 {
  text-transform: uppercase !important;
  margin: 8px 0 !important;
  font-size: 28px !important;
  line-height: 25px !important;
  font-weight: 100 !important;
}

.sweet-alert p {
  text-align: center !important;
}

.modal_success.sweet-alert h2 {
  color: var(--sea) !important;
}
.modal_success.sweet-alert .sa-icon.sa-success .sa-placeholder {
  border: 4px solid var(--sea) !important;
}
.modal_success.sweet-alert .sa-icon.sa-success .sa-line {
  background-color: var(--sea) !important;
}

.modal_warning.sweet-alert h2 {
  font-size: 24px !important;
  color: var(--danger) !important;
}

.modal_warning.sweet-alert .sa-icon.sa-error,
.modal_warning.sweet-alert .sa-icon.sa-warning {
    border-color: var(--danger) !important;
}

.modal_warning.sweet-alert .sa-icon.sa-warning.pulseWarning .sa-body,
.modal_warning.sweet-alert .sa-icon.sa-warning.pulseWarning .sa-dot {
    background-color: var(--danger) !important;
}

.modal_warning.sweet-alert button.cancel,
.modal_warning.sweet-alert button.cancel:focus{
  background-color: var(--danger) !important;
}
.modal_warning.sweet-alert button {
  color: #fff !important;
  background-color: var(--midnight) !important;
}


/* FOOTER -------------------------------------------------------------- */

footer {
  color: var(--grey-500);
}

/* ICONS --------------------------------------------------------------- */

.icon_help {
  color: var(--midnight);
}

.fab:before {
  color: var(--sea);
}

.fas {
  margin-right: 0.2em;
}

/* EQUATIONS ----------------------------------------------------------- */

.MathJax_Display {
  font-size: 14px;
}

/* TOUR ---------------------------------------------------------------- */

.ttl_tour {
  font-size: 23px !important;
  text-align: center !important;
}

.tour_action {
  color: white;
  background: #136265;
}
