/*
$col_text: #ffffff!important;
$col_main: #222d32;
$col_header: #2c3b41;
$col_border: #009688;
*/

/* general */

.introjs-overlay{
 position: absolute;
 z-index: 10000;
 border: none;
 background: none;
 background-color: #000;
 transition: all .3s ease-out;
}

.introjs-tooltip{
  border: none; /* 1.5px solid #009688; */
  background-color: #222d32;
  max-width: 100%;
  min-width: 500px;
}

.introjs-tooltiptext{
  padding: 0 52px 0 52px;
  box-sizing: border-box;
  font: 15px/normal "Roboto Condensed";
  text-align: justify;
  color: #ffffff!important;
  line-height: 1.6;
  letter-spacing: 0.2px;
}

/* buttons */

.introjs-tooltipbuttons {
  @extend .flex;
  justify-content: flex-end;
  background-color: #222d32 !important;
  border: 0;
}

.introjs-button {
  border-radius: 0;
  background: #2c3b41 !important;
  font: 13px/normal "Roboto Condensed", sans-serif;
  color: #ffffff !important;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-shadow: none;
}

.introjs-nextbutton {
  border: 1px solid #009688 !important;
  box-shadow: none !important;
  margin: 0 40px 20px 40px;
}
.introjs-prevbutton {
  border: 1px solid #676767 !important;
  box-shadow: none !important;
  margin: 0 40px 20px 40px;
}
.introjs-donebutton {
  border: 1px solid #686664 !important;
  box-shadow: none !important;
  margin: 0 40px 20px 40px;
}

.introjs-button:hover {
    box-shadow: 0 0 4px rgba(#222d32, 0.5)!important;
}

/*
  .introjs-skipbutton:not(.introjs-donebutton){
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid #009688;
    border-radius: 50%!important;
    padding: 0;
    width: 25px;
    height: 25px;
    font-size: 0.8rem;
    text-align: center;
    color: #ffffff!important;
      line-height: 25px;
    font-weight: 600;
    background: #222d32;
      transform: translate(70%, -75%);
  }
*/

.introjs-fixParent {
    z-index: 99999999999999 !important;
}

.introjs-tooltipReferenceLayer{
}

.introjs-helperLayer {
  position: absolute;
  z-index: 10099;
  background-color: transparent;
  border: none;
  border-radius: 0!important;
  box-shadow: none;
  transition: all .3s ease-out;
}

.introjs-helperNumberLayer {
  background: none;
  background-color: #2c3b41;
  color: #ffffff,
  font-size: 11px;
  font-family: "Roboto Condensed", sans-serif;
  text-shadow: none;
}

.introjs-arrow.left{
  border-right-color: #009688;
}
.introjs-arrow.top{
  border-bottom-color: #009688;
}
.introjs-arrow.bottom{
  border-top-color: #009688;
}
.introjs-arrow.right, .introjs-arrow.right-bottom{
  border-left-color: #009688;
}

/*
body.ij_clear{
  .introjs-overlay{
    opacity: 0.1!important;
  }
}
body.ij_ft{
  .introjs-helperNumberLayer{
    transform: translate(120%, 15%)!important;
  }
}

body.ij_nm{
  .introjs-helperNumberLayer{
    top: 0!important;
    left: 0!important;
    transform: none!important;
  }
}
*/
